/*===== Resets =====*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: monospace;
  font-size: 1.4rem;
  background: #92b8c2 ;
  /* background: #f9a59a; */
  color: #f5f5f5;
}

/*===== Global =====*/
.window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 350px;
  border-radius: 5px;
  background: #001627 ;
  box-shadow: 10px 10px 10px #252525;
}

.window-header {
  width: 100%;
  height: 50px;
  background: #001321 ;
  border-radius: 5px 5px 0 0;
  padding: 0.5rem;
}

/*===== Buttons =====*/
.btn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  float: right;
  margin: 0.8rem 0.25rem;
  border: none;
}

.btn:nth-child(1) {
  background: #2ecc71;
}

.btn:nth-child(2) {
  background: #f1c40f;
}

.btn:nth-child(3) {
  background: #e74c3c;
}

/*===== Window content =====*/
.window-content {
  width: 100%;
  height: 300px;
  border-radius: 0 0 5px 5px;
  padding: 1rem;
}

/*===== Colors =====*/
.main-color {
  color: #d55fde;
}

.reserved-color {
  color: #d6a25b;
}

.reserved-second-color {
  color: #c46f40;
}

.function-color {
  color: #61afef;
}

.function-typing-color {
  color: #ffd700 !important;
}
